@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Mulish';
  src: url('./assets/Mulish-VariableFont_wght.ttf');
}

body{
  color: white;
  --navbar: #191924;
  --bg:#191924;
  font-family: 'Mulish';
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.sb::-webkit-scrollbar {
  display: none;
}
.sb {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


