@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Mulish';
  src: url('./assets/Mulish-VariableFont_wght.ttf');
}

body{
  color: white;
  --navbar: #1c1c27;
  --pr:#854ce6;
  --bg:#1c1c30;
  font-family: 'Mulish';
}

